<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <display-name>Adopty! WebApp</display-name>

    <context-param>
        <description>Ruta para almacenar las imágenes de los perros</description>
        <param-name>imagePath</param-name>
        <param-value>C:\Users\kyrrz\Desktop\apache-tomcat-9.0.104\webapps\shelter_images</param-value>
    </context-param>


</web-app>